{% extends "base.html" %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>Utilization 2015</h2>
      <canvas id="utilization" width="400" height="400"></canvas>
    </div>
    <div class="col-md-6">
      <h2>Cost and Revenue 2015</h2>
      <canvas id="finance" width="400" height="400"></canvas>
    </div>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    app.plotIndexCharts($('#finance').get(0).getContext("2d"),
                        $('#utilization').get(0).getContext("2d"));
  });
</script>
{% endblock %}
