{% macro render_field(field, label_visible=true) %}
  <div class="form-group {% if field.errors %}has-error{% endif %} {{ kwargs.pop('class_', '') }}">
    <label for="{{ field.id }}" class="control-label">{{ field.label }}</label>
    {{ field(class_='form-control', **kwargs) }}
    {% if field.errors %}
      {% for e in field.errors %}
      <p class="help-block">{{ e }}</p>
      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro render_form(form, action_url='', action_text='Submit', class_='', btn_class='btn btn-default') %}
  <form method="POST" action="{{ action_url }}" role="form" class="{{ class_ }}">
    {% for f in form %}
      {{ render_field(f) }}
    {% endfor %}
    <button type="submit" class="{{ btn_class }}">{{ action_text }}</button>
  </form>
{% endmacro %}
