{% extends "base.html" %}
{% block content %}
<div class="container">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Engagement</th>
        {% for iteration in iterations %}
        <th>{{ iteration.startdate }}</th>
        {% endfor %}
      </tr>
    </thead>
    <tbody id="schedule">
      {% for engagement in engagements %}
      <tr>
        <th scope="row">{{ engagement.client }} - {{ engagement.name }}</th>
        {% for iteration in iterations %}
        {% if iteration in engagement.actual %}
        <td id="iter{{ iteration.id }}_eng{{ engagement.id }}" iteration="{{ iteration.id }}" engagement="{{ engagement.id }}" status="actual">{{ engagement.complexity }}</td>
        {% elif iteration in engagement.estimated %}
        <td id="iter{{ iteration.id }}_eng{{ engagement.id }}" iteration="{{ iteration.id }}" engagement="{{ engagement.id }}" status="estimated">{{ engagement.complexity * engagement.probability }}</td>
        {% else %}
        <td id="iter{{ iteration.id }}_eng{{ engagement.id }}" iteration="{{ iteration.id }}" engagement="{{ engagement.id }}" status="removed">0</td>
        {% endif %}
        {% endfor %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
<script type="text/javascript">
  $(document).ready(function() {
    $('#schedule td').click(function(ev) {
      app.schedule(ev);
    });
  });
</script>
{% endblock %}
